body
{
	padding-top: 75px;
	font-family: Times New Roman;
}

.container
{
	width: 500px;
	margin: auto;
}

a:link, a:visited
{
	color: Gray;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover
{
	color: Black;
	border-bottom-color: Black;
}

small
{
	color: Blue;
	font-style: italic;	
}

p
{
	line-height: 5;
	font-family: Arial;
}

ol li
{
	line-height: 10px;
}

input [type=text], input[type=password], textarea 
{
	-webkit-appearance: none;
	padding: 3px;
	border: 1px solid #ccc;
}

input [type=text]:focus, input[type=password]:focus, textarea:focus
{
	outline: none;
}